$font-primary-color: #afacac;
$border-color: rgba(128, 128, 128, .22);

$lt-white: rgb(255, 255, 255);
$primary-green: #00b294;
$light-portlet-blue: aliceblue;
$table-odd: #f1f1f1;
$table-even: rgb(255, 255, 255);
$dark-blue: #004e8c;

.portletMain {
  margin-bottom: 0px;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 6px;
  border: 2px solid $primary-green;
  background: $light-portlet-blue;
  box-shadow: 0 0 1px rgba(0, 0, 0, .01), 0 2px 4px rgba(0, 0, 0, .08);

  .portlet-title {
    background-color: $dark-blue;
    padding: 7px;
    border: 2px solid #3a4552;
    -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, .57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, .57);
    color: white;
    font-size: 16px;

    .tools {
      visibility: visible;
      display: inline-block;
      padding: 0;
      margin: 0;
      margin-top: 1px;
      float: right;
    }
  }

  .disabled {
    .mdl-textfield {
      pointer-events: none !important;

    }
  }

  .portlet-body {
    padding: 0 8px 0 8px;
  }

  .forcedDisabled {
    cursor: not-allowed;

    input {
      pointer-events: none;
    }
  }

  .notify {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.41);
    overflow: hidden;
    box-sizing: border-box;
    // transition:height .2s;
  }

  #notifyType:before {
    display: block;
    margin-top: 15px;
    font-weight: 800;
    font-size: 20px;
  }

  .active {
    height: 50px;
    height: 46px;
    top: 90%;
    position: relative;
    width: 40%;
    left: 31%;

  }

  .success:before {
    Content: "Success!";
    color: #00b294;
  }

  .failure:before {
    Content: "Request failed. Please try again !";
    color: #b71c1c;
  }
}

#Main_Form,
#update_Form {
  .grid-item {
    display: grid;
    grid-template-columns: 35% 35% 35%;

    label {
      color: #004e8c;
    }

    .mdl-textfield__label:after {
      background-color: #004e8c !important;
    }

    .mdl-textfield {
      width: 85%;
    }

    .mdl-textfield__input {
      border-bottom: 1px solid #004e8c !important;
      background: #f0f8ff !important;
    }

    .mdl-textfield__input[type='date'] {
      text-align: right;
    }

    .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label,
    .mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
    .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
      color: #004e8c !important;
    }
  }

}

.newFormGrid {

  .btnGroup,
  .saveBtnGroup {
    display: inline-block;
  }

  .btnGroup {
    float: right;
  }

  #saveForm {
    color: #fff;
    background-color: #004e8c;
  }

  #cancelForm {
    background-color: grey;
  }

  .select2-selection.select2-selection--multiple.randomShit {
    border: none !important;
    border-bottom: 1px solid #004e8c !important;
    border-radius: unset !important;
    background: #f0f8ff !important;

    .select2-selection__choice {
      background-color: #004e8ced;
      color: white;
      font-weight: 700;
      font-size: 10px;

      .select2-selection__choice__remove {
        color: #fff;
        font-size: 11px;
        margin-right: 8px;
      }
    }
  }
}

.UpdateFormGrid {
  .btnGroup {
    display: inline-block;
    float: right;
  }

  .saveBtnGroup {
    display: inline-block;

    button {
      width: 80px;
    }
  }



  #editForm,
  #saveForm {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 78, 140);
  }

  #cancelForm {
    background-color: grey;
  }
}


.makeGlow {
  -webkit-animation: glowDiv .5s infinite alternate;
  animation: glowDiv .5s infinite alternate;
}

@keyframes glowDiv {
  to {
    box-shadow: 0 0 30px #008c4b;
  }
}

// loading Icon
#fountainTextG {
  width: 100%;
  margin-bottom: 14px;
  padding: 25px;

  .fountainTextG {
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 24px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    float: left;
    animation-name: bounce_fountainTextG;
    -o-animation-name: bounce_fountainTextG;
    -ms-animation-name: bounce_fountainTextG;
    -webkit-animation-name: bounce_fountainTextG;
    -moz-animation-name: bounce_fountainTextG;
    animation-duration: 2.09s;
    -o-animation-duration: 2.09s;
    -ms-animation-duration: 2.09s;
    -webkit-animation-duration: 2.09s;
    -moz-animation-duration: 2.09s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(.5);
    -o-transform: scale(.5);
    -ms-transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
  }

  #fountainTextG_1 {
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
  }

  #fountainTextG_2 {
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
  }

  #fountainTextG_3 {
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
  }

  #fountainTextG_4 {
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
  }

  #fountainTextG_5 {
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
  }

  #fountainTextG_6 {
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
  }

  #fountainTextG_7 {
    animation-delay: 1.64s;
    -o-animation-delay: 1.64s;
    -ms-animation-delay: 1.64s;
    -webkit-animation-delay: 1.64s;
    -moz-animation-delay: 1.64s;
  }

  #fountainTextG_8 {
    animation-delay: 1.79s;
    -o-animation-delay: 1.79s;
    -ms-animation-delay: 1.79s;
    -webkit-animation-delay: 1.79s;
    -moz-animation-delay: 1.79s;
  }

  #fountainTextG_9 {
    animation-delay: 1.94s;
    -o-animation-delay: 1.94s;
    -ms-animation-delay: 1.94s;
    -webkit-animation-delay: 1.94s;
    -moz-animation-delay: 1.94s;
  }

  #fountainTextG_10 {
    animation-delay: 2.09s;
    -o-animation-delay: 2.09s;
    -ms-animation-delay: 2.09s;
    -webkit-animation-delay: 2.09s;
    -moz-animation-delay: 2.09s;
  }




  @keyframes bounce_fountainTextG {
    0% {
      transform: scale(1);
      color: rgb(0, 0, 0);
    }

    100% {
      transform: scale(.5);
      color: rgb(255, 255, 255);
    }
  }

  @-o-keyframes bounce_fountainTextG {
    0% {
      -o-transform: scale(1);
      color: rgb(0, 0, 0);
    }

    100% {
      -o-transform: scale(.5);
      color: rgb(255, 255, 255);
    }
  }

  @-ms-keyframes bounce_fountainTextG {
    0% {
      -ms-transform: scale(1);
      color: rgb(0, 0, 0);
    }

    100% {
      -ms-transform: scale(.5);
      color: rgb(255, 255, 255);
    }
  }

  @-webkit-keyframes bounce_fountainTextG {
    0% {
      -webkit-transform: scale(1);
      color: rgb(0, 0, 0);
    }

    100% {
      -webkit-transform: scale(.5);
      color: rgb(255, 255, 255);
    }
  }

  @-moz-keyframes bounce_fountainTextG {
    0% {
      -moz-transform: scale(1);
      color: rgb(0, 0, 0);
    }

    100% {
      -moz-transform: scale(.5);
      color: rgb(255, 255, 255);
    }
  }
}
